
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-10 offset-md-1" style="background-color:azure">
  <br>
  <p><h1>Achievements and Awards</h1></p>
  <hr>
  <br>
  <h4>Professional affiliations</h4>
  <ol>
     <li>Institute of Information Technology Professionals South Africa (IITPSA)</li>
     <li>Associate Member – Computer Society of Zimbabwe since 2003</li>
  </ol>
     <br>
   <h4>Funding / Scholarships</h4>
     <ol>
        <li>NRF scholarship (2019)</li>
        <li>Scholars at Risk funding (2014)</li>
        <li>Andrew Mellon Scholarship (2012-2014)</li>
        <li>BUSE Research Grant (2012):</li>
      </ol>
      <br>
   <h4><b>Certifications</b></h4>
  <ol>
    <li>Careers Services Certificated recipient (2014)</li>
    <li>International Computer Driving Licence (ICDL)</li>
  </ol>
</div>
 {% endblock %}