
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-10 offset-md-1" style="background-color:azure">
  <br>
    <p><h1>Community service</h1></p>
    <hr>
    <br>
    <p>Nyarai is passionate about empowering women in technology fields. Her short term goal is to establish an IT academy that targets women. Being a one-time mentor in Techwomen, she envisions that empowered women will improve communities.</p>
    <br>
    <p>Currently is part of church virtual communities that encourages women and girls to up skill themselves in their areas of passion and advice on current scarce skills. #Rise and Shine girl; #FIF Technocrats</p>
    <ol>
      <li>Academic Researchers’ Forum - <a href="https://www.facebook.com/academicResearchersForum/">https://www.facebook.com/academicResearchersForum/</a></li>
      <li>Techwomen mentor <a href="https://www.techwomen.org">https://www.techwomen.org</a></li>
      <li>2012 – 2014 - National coordinator ENO-Zimbabwe <a href="https://www.enoprogramme.org">https://www.enoprogramme.org</a></li>
      <li>2001 – 2007 Mtando-Africa – Online mentoring web design coaching, graphic designing</li>
      <br>
      <br>
    </ol>
</div>
<br>
<br>
{% endblock %}