
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-10 offset-md-1" style="background-color:azure">
    <br>
    <p><h1>Contact</h1></p>
    <hr>
    <br>
    <div>
        <p><h3>Cape Peninsula University of Technology</h3></p>
        <p>Mowbray</p>
        <p>Cape Town</p>
        <p>South Africa</p>
        <br>
        <p><h2>Social media widgets for Facebook, Twitter, LinkedIn, blog</h2></p>
        <p><img src="/static/img/IconLinkedIn.png" width="40" style="padding-top:1px; padding-right:10px"/><a href="https://www.linkedin.com/in/dr-nyarai-tunjera-96094138/">Linkedin</a></p>
        <p><img src="/static/img/Icon-Facebook.png" width="40" style="padding-top:1px; padding-right:10px"/><a href="https://www.facebook.com/ntunjera">Facebook</a></p>
        <p><img src="/static/img/academia-393876.png" width="40" style="padding-top:1px; padding-right:10px"/><a href="http://capepeninsula.academia.edu/NyaraiTunjera">Academia</a></p>
        <p><img src="/static/img/IconTwitter.png" width="40" style="padding-top:1px; padding-right:10px"/><a href="https://twitter.com/ntunjera">Twitter</a></p>
        <br>
        <p><button><a href="{% url "blog:blog_index" %}"">View blog posts</a></button></p>
        <p><button><a href="{% url "blog:new_post" %}"">Add blog posts</a></button></p>
    </div>
</div>
 {% endblock %}