
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-10 offset-md-1" style="background-color:azure">
    <br> 
    <p><h1>Gallery</h1></p>
    <hr>
    <br>
    <p><h2><center>Pictures</center></h2></p>
    <div>
        <div style="transform:rotateZ(0deg); width: 600px; height: 1000px;">
            <img src="/static/img/0_20191030_090311.jpg" alt="" width="600" class="myAnim" style="padding-top:100px; padding-left:100px; transform:scale(0.5,0.5, 0.5); animation-name:inherit; animation-duration:inherit; animation-delay:3s; animation-direction: alternate-reverse "/></a>
        </div>
        <br>
        <br>
        <div style="transform:rotateZ(0deg); border-block:inherit">
            <img src="/static/img/0_20191104_144919.jpg" alt="" width="600" style="padding-top:200px; padding-left:100px; animation-name:inherit; animation-duration:inherit; animation-delay:1s; animation-direction: alternate-reverse"/></a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="transform:rotateZ(0deg)">
            <img src="/static/img/1586262063269_0_20191030_171208.jpg" alt="" width="600" style="padding-top:50px; padding-left:100px"/></a>
        </div>
        <br>
        <div style="transform:rotateZ(0deg)">
                <img src="/static/img/0_20191029_140238.jpg" alt="" width="600"  style="padding-top:50px;  padding-left:100px"/></a>
        </div>
        <br>
        <br>
        <div>
            <img src="/static/img/0_20191030_110356.jpg" alt="" width="600" style="padding-top:100px;  padding-left:100px"/></a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div>
            <img src="/static/img/0_20191128_204512.jpg" alt="" width="600" style="padding-top:50px; padding-left:100px"/></a>
        </div>
    </div>
    <br>
    <br>
    <hr style="color:black">
    <hr style="color:black">
    <div>
        <p><h2><center>Videos</center></h2></p>
    </div>
</div>
<br>
<br>
{% endblock %}