
{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock %}
{% block content %}
<div class="col-md-10 offset-md-1" style="background-color:azure">
<br>
    <p><h1>Home</h1></p>
    <hr>
    <br>
    <div>
        <div>
            <p>Nyarai Tunjera is a researcher and educator in educational technology and IT. Currently she is postdoc fellow at CPUT, in a project 21st century education. Nyarai believes that education and technology should be inclusive and accessible for all. As growing technology researcher, her research focuses on technology-enhanced education in teacher preparation and higher education.</p>
        </div>
        <h4>Profile and expertise</h4>
        <div>
            <p>Dr Nyarai Tunjera is passionate about research on technology in education, specifically with regards to teacher preparation and higher education. In 2010, Nyarai joined higher education as a teaching assistant at Bindura University of Science Education as a Computer Science educator. During this period she awarded research grant in a community project. In July 2012, she was awarded a Mellon scholarship to study a post graduate diploma in education and Master in ICTs in Education programme at UCT being supervised by Prof Dick Ng’ambi and graduated December 2014.</p>
        </div>
        <div>
            <p>In 2015, Nyarai enrolled for doctorate degree at CPUT under the mentorship of NRF C1-rated, Professor Agnes Chigona. Nyarai sees her doctoral study as her current greatest academic success, mainly because it has educational imperatives linked to it. Dr Nyarai derived a model she coined ConTIS model as the innovation from her research. The model guides technology integration instructional strategies that should be followed by teacher training institutions to prepare teacher well enough for technology integrated classroom environment.</p>
        </div>
        <div>
            <p>Currently, Nyarai is enrolled as a postdoc fellow in a 21st century education NRF funded project. Mentor and mentee are currently engaged in writing a Technology integration book.</p>
        </div>
        <br>
        <h4>Research and research goals</h4>
        <div>
            <p>The 21st century requires that students acquire communication, collaboration, critical thinking and creativity. These skills can be easily acquired the use of digital technology-enhanced practices at higher education institutions. Imparting such skills is only possible when higher education educators are equipped in technology integration into their practices.</p>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}