{% extends 'base.html' %}
{{% load static %}
{% block header %}
{% endblock %}
{% block content %}
<div class="col-md-10 offset-md-1" style="background-color:azure">
  <br>
  <h4><center>Welcome to Nyarai Tunjera's Website</center></h4>
</div>
{% endblock %}