{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-10 offset-md-1" style="background-color:azure">
  <br> 
  <h1>Publications</h1>
  <hr>
  <br>
  <h4><b>Journal articles</b></h4>
  <div>
    <ol>
         <li>Tunjera, N. & Chigona, A. (under review). Developing a model to guide technology integration in the 21st Century teacher education.</li>
         <li>Tunjera, N., Mlotshwa, N. & Chigona, A. (2020) Integration of MOODLE into the Classroom for better conceptual understanding of functions in mathematics. South African Journal of Education (Inprint).</li>
         <li>Tunjera, N. & Chigona, A. (2020). Teacher Educators’ Appropriation of TPACK-SAMR Models for 21st Century Pre-Service Teacher Preparation. IJICTE: Volume 16, Issue 3, Article 8. In-print</li>
         <li>Tiba C, Condy J, Chigona, A., Tunjera N. 2017 Investigating Factors Influencing In-service Teachers’ Use of Technology for Teaching. South African Journal of Education.</li>
         <li>Tiba C, Condy J, Chigona A, Tunjera N (2015). Digital storytelling as a tool for teaching: Perceptions of pre-service teachers. The Journal for Transdisciplinary Research in Southern Africa, 11(1) July 2015, pp. 82-97.</li>
         <li>Tunjera, Nyarai. Mukabeta, T, Ramirez, I. Zinyeka, G. (2014) Using a Mobile Application to Increase Interaction amongst Students in an Open and Distance Learning Programme in Zimbabwe: A Cultural Historical Activity Learning Theory Perspective. Journal of Education and Human Development. Vol. 1(1), pp. 25–38. American Research Institute for Policy Developing. ISSN: 2334-296X (Print), 2334-2978 (Online)</li>
         <li>Mukabeta, T., Tunjera, N., Magomelo, M., Ndumiyana, D. (2014). Enhancing learning through collaboration in an online discussion forum: Students’ perceptions in a Computer Architecture Course. Greener Journal of Educational Research. Vol. 2(1)</li>
         <li>Ramirez, B. I., Tunjera, Nyarai, Hernandez, B. O., Ramirez G. P., & Zivanai, J. (2014) Learning contracts to assess and evaluate in diverse classrooms at pedagogical universities: a study made in Cuba and Zimbabwe. Greener Journal of Educational Research. (in press)</li>
         <li>Tunjera, Nyarai. Mukabeta, T. & Zivanai, J. (2013). Increasing interaction by integrating Short Messaging Services (SMSs) into the Virtual Open and Distant Learning (VODL) teacher education programme. Greener Journal of Educational Research.</li>
         <li>Mukabeta, T. Magomelo, M. & Tunjera, N. (2013). Using Mobile Phones to Encourage Cooperative Learning In an Introduction to Computers Course at Bindura University: A Critical Discourse Analysis Perspective International Journal of Engineering Research and Technology. Volume 2, Issue 3 (March - 2013). ISSN 2278-0181</li>
         <br>
         <h4>Conference papers</h4>
         <li>Tunjera, N. & Chigona, A. (2017). Technology Skills Acquisition in a Pre-service Teacher Digital Storytelling Project. In J. Dron & S. Mishra (Eds.), Proceedings of E-Learn: World Conference on E-Learning in Corporate, Government, Healthcare, and Higher Education (pp. 672-680). Vancouver, British Columbia, Canada: Association for the Advancement of Computing in Education (AACE). https://www.learntechlib.org/p/181245/</li>
         <li>Tunjera, N., Tiba, C.A., Condy, J. & Chigona, A. (2016). Pre-Service Teachers’ Acquisition of Technology Skills in a Digital Storytelling Project. In G. Chamblee & L. Langub (Eds.), Proceedings of Society for Information Technology & Teacher Education International Conference (pp. 3091-3098). Savannah, GA, United States: Association for the Advancement of Computing in Education (AACE). Retrieved November 30, 2019 from https://www.learntechlib.org/primary/p/172130/.</li>
    </ol>
  </div>
         <br>
         <div>
             <p>2019 Oct. panel presenter SAERA 2019 conference. Durban</p>
             <p>2015 Aug. presented a poster at Emerging Technologies and Authentic Learning in Higher Vocational Education Cape Town South Africa.</p>
             <p>2014	Aug. Presented a paper “Augmenting STEM education through technology. 2nd national Science and Mathematics Education Conference Bindura</p>
             <p>2013	Aug. Presented a paper on using SMSs in a distance education programme: 1st International Science and Mathematics Education Conference. Bindura</p>
             <p>2011	Presented a paper on Women Empowerment through ICTs: Southern Institute of Peace and Development. Harare</p>
             <p>2004, 2006, 2008 	Attended South Africa and Finland ENO- Environmental Online Organisation</p>
             <p>2001 	Attended in South Africa IEARN- International Education and Resource Network</p>
         </div>
    <br>
    <h4>Keynote speaking</h4>
    <p>Bindura University of Science Education –</p>
</div>
<br>
<br>
{% endblock %}