body {
        margin: 30;
        font-family: Arial, Helvetica, sans-serif;
        padding: 14px 16px;
    }

    h1 {
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #p1 {
        text-transform: capitalize;
    }

    .topnav {
        overflow: hidden;
        background-color:rgb(29, 141, 141);
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: rgba(63, 25, 80, 0.212);
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
        font-size:large;
    }

    .topnav .icon {
        display: none;
        background-color: #4CAF50;
    }

    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {display: none;}
        .topnav a.icon {
            float: right;
            display: block;
        }
    }

    @media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: center;
        }
    }

    .topheader {
        width: 1330px;
        height: 200px;
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        font-size: 40px
    }
    .icon {
        align-items: flex-start;
        animation-name: inherit;
        animation-direction: alternate-reverse;
    }
    @keyframes inherit {
        from {background-color: red;}
        to {background-color: yellow;}
    }
    .topnav-right {
        float: right;
    }

    img {
        max-width: 100;
        height: auto;
    }