{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><center>Nyarai Tunjera Website</center></title>
    <!-- bootsrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block extrahead %}
    {% endblock %}
</head>
{% block header %}
{% endblock %}
<body>
    <div class="topheader" data-role="header" data-theme="a" style="background-color:rgb(0, 247, 255)">
        <h1 class="icon" style="color:black; padding-top:70px"><center>@Nyarai Tunjera Website</center></h1>
    </div><!-- /header -->
    <div class="topnav" >
        <a href="{% url "portfolio:home" %}">Home</a>
        <a href="{% url "portfolio:publications" %}">Publications</a>
        <a href="{% url "portfolio:achievements_rewards" %}">Achievements and Awards</a>
        <div class="topnav-right">
            <a href="{% url "portfolio:community_service" %}">Community service</a>
            <a href="{% url "portfolio:gallery" %}">Gallery</a>
            <a href="{% url "portfolio:contact" %}">Contact</a>
        </div>
        <a href="" class="icon" onclick="responsiveFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
<div data-role="page" id="{% block page_id %}home{% endblock %}">
    <div data-role="header">
    {% block content %}{% endblock %}
    </div>
    <footer class="bg-dark footer-section">
        <div class="border-top text-center border-dark py-3" style="color: #ddd">
          <div data-role="footer" data-theme="a">
            <h5><center>&copy; {% now 'Y' %} Nyarai Tunjera (Pty) Ltd, all rights reserved</center></h5>
        </div><!-- /footer -->
        </div>
      </footer>
      <!-- /footer -->
</div>
<script>
        function responsiveFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
</script>
</body>
</html

