{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="topnav" data-role="header" data-theme="a" style="background-color:rgb(29, 141, 141)">
    <h2 style="color:white"><center>View Blog Posts</center></h2>
</div><!-- /header -->
<div class="col-md-10 offset-md-1" style="background-color:azure">
    <br>
      <p><h1>Blog Posts</h1></p>
      <hr>
      {% if posts %}
      {% for post in posts %}
      <h2><a href="{% url 'blog:view_post' post.pk %}">{{ post.title | title }}</a></h2>
      <small>
          {{ post.created_on.date }} |&nbsp;
         Categories:&nbsp;
         {% for category in post.categories.all %}
         <a href="{% url 'blog:view_category' category.name %}">
             {{ category.name }}
         </a>&nbsp;
         {% endfor %}
     </small>
     <p>{{ post.body | slice:":400" }}...</p>
     {% endfor %}
     {% else %}
     <p>There no posts</p>
     {% endif %}
 </div>
 {% endblock %}