{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="topnav" data-role="header" data-theme="a" style="background-color:rgb(29, 141, 141)">
    <h2 style="color:white"><center>Comment Nyarai Tunjera's Post</center></h2>
</div><!-- /header -->
  <div class="col-md-10 offset-md-1" style="background-color:azure">
    <br>
      <p><h1>{{ post.title | title }}</h1></p>
      <small>
          {{ post.created_on.date }} |&nbsp;
          Categories:&nbsp;
          {% for category in post.categories.all %}
          <a href="{% url 'blog:view_category' category.name %}">
             {{ category.name }}
         </a>&nbsp;
         {% endfor %}
     </small>
     <p>{{ post.body | linebreaks }}</p>
     <h3>Leave a comment:</h3>
     <form method="post" action={% url 'blog:view_post' post.pk %}>
         {% csrf_token %}
         <div class="form-group">
             {{ form.author }}
         </div>
         <div class="form-group">
             {{ form.body }}
         </div>
         <p><input type="submit" name="add" style="background-color:teal; width: 100px; height: 50px; font-size: 14; color: rgb(243, 246, 250)" value="Comment"/></p>
     </form>
     <br>
     <h3>Comments:</h3>
     <div>
        {% for comment in comments %}
            <p>
                On {{comment.created_on.date }}&nbsp;
                <b>{{ comment.author }}</b> wrote:
            </p>
            <p>{{ comment.body }}</p>
            <hr>
        {% endfor %}
    </div>
     <div>
        <p><button><a href="{% url "blog:blog_index" %}"">Click to view blog posts</a></button></p>
     </div>
 </div>
 {% endblock %}