{% extends 'base.html' %} 
{% block content %}
<div class="topnav" data-role="header" data-theme="a" style="background-color:rgb(29, 141, 141)">
    <h2 style="color:white"><center>Add post for Nyarai Tunjera's blog</center></h2>
</div><!-- /header -->
<div class="col-md-10 offset-md-1" style="background-color:azure">
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br>
        <input type="submit" name="add" style="background-color:teal; width: 100px; height: 50px; font-size: 14; color: rgb(243, 246, 250)" value="Add Post"/>
    </form>
    <h2>{{ post.title }}</h2>
    <div class="content">
        <p>
            {{ post.body }}
        </p>
    </div>
    <div>
        <p><button><a href="{% url "portfolio:home" %}" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go to Home page</a></button></p>
    </div>
</div>
{% endblock %}