
{% extends 'base.html' %} 
{% block head_title %}Viewing category {{ category.title }}{% endblock %}
{% block title %}{{ category.title }}{% endblock %}
 
{% block content %}
<div class="col-md-10 offset-md-1" style="background-color:azure">
    <br>
   {% if posts %}
   <p><h1>{{ category | title }}</h1></p>
   <hr>
       <ul>
       {% for post in posts %}
           <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
           <h3>Leave a comment:</h3>
            <form action="/blog/{{ post.pk }}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.author }}
                </div>
                <div class="form-group">
                    {{ form.body }}
                </div>
                <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                <input type="submit" name="add" style="background-color:teal; width: 100px; height: 50px; font-size: 14; color: rgb(243, 246, 250)" value="Add Post"/>
            </form>
            <h3>Comments:</h3>
            {% for comment in comments %}
            <p>
                On {{comment.created_on.date }}&nbsp;
                <b>{{ comment.author }}</b> wrote:
            </p>
            <p>{{ comment.body }}</p>
            <hr>
            {% endfor %}
       {% endfor %}
       </ul>
   {% else %}
       <p>There are no posts.</p>
   {% endif %}
</div>
{% endblock %}