{% extends 'base.html' %}
{% load static %} 
{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
 
{% block content %}
<div class="topnav" data-role="header" data-theme="a" style="background-color:rgb(29, 141, 141)">
    <h2 style="color:white"><center>View Nyarai Tunjera's post</center></h2>
</div><!-- /header -->
<br>
<br>
<div class="col-md-10 offset-md-1" style="background-color:azure">
    <div>
        <div>
            <p><center><h3>{{ post.title }}</h3></center></p>
        </div>
    </div>
    <hr>
    <p><center>{{ post.body }}</center></p>
</div>
<p><a href="{% url "blog:comment_post" %}" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Comment Post</a></p>
<br>
<br>
{% endblock %}